.usta__about {
  border: 1px solid black;
  height: 75vh;

  display: flex;
  flex-direction: column;
}

.usta__about-heading {
  border: 1px solid red;
  margin: 0 20rem;
}

.usta__about-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 20rem;

  border: 1px solid red;
}

.usta__about-container img {
  flex: 1;
  border: 1px solid black;
}

.usta__about-container div {
  flex: 1.5;
  border: 1px solid black;
}
