.usta__about {
  height: 75vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  position: relative;
}

.backgroundyello {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 15rem;
  z-index: -2;
}

.usta__about-heading {
  margin: 0 25rem;
}

.usta__about-heading h1 {
  font-weight: 800;
  font-size: 36px;
}

.usta__about-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 20rem;
}

.usta__about-container img {
  flex: 1;
}

.usta__about-container div {
  flex: 1.5;
}

.usta__about-container_yt {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
