.usta__about {
  height: auto;

  display: flex;
  flex-direction: column;
  position: relative;
}

.usta__about-head {
  margin: 0 5vw;
  margin-top: 3rem;
}

.usta__about-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5vw;
}

.usta__about-container div {
  margin-right: 10vw;
}

.gradient__bg {
  height: 15vh;
  width: 100%;
  position: absolute;
  bottom: 10vh;
  left: 0;
  z-index: -2;
}

.plugin {
  position: absolute;
  z-index: -1;
  left: -25vw;
  top: 8rem;

  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 850px) {
  .usta__about-container {
    justify-content: center;
  }
  iframe {
    width: 426px;
    height: 240px;
  }

  .plugin {
    display: none;
  }
}
