.usta__news {
  position: relative;
  margin-bottom: 2rem;
}

.usta__news-content {
  margin: 0 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 20vh;
}

.usta__news-content_button button {
  background: linear-gradient(170.96deg, #fbd000 0, #fda700 100%);
  box-shadow: 0 10px 10px rgb(114 114 114 / 20%);
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 35px;
  padding: 0 51px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.usta__news-content_news {
  margin: 0;
  font-family: "Proxima Nova Th";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  color: #2c2c2c;
}

.blackwave {
  position: absolute;
  top: -15rem;
  left: -25rem;
  z-index: -1;
}

.bg2 {
  position: absolute;
  top: -4rem;
  right: -10rem;
  z-index: -1;
}

.bg22 {
  position: absolute;
  bottom: -2rem;
  left: -15rem;
  z-index: -1;
}
