.usta__product {
  border: 1px solid red;
  width: 15vw;
  height: 7rem;
  margin: 1rem 2rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.usta__product img {
  height: 50px;
  width: 50px;
  margin-left: 0.5rem;
}
