.usta__catalog {
  height: auto;
  margin: 3rem 5vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.usta__catalog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2rem;
}

.usta__catalog-container_right {
  display: flex;
  flex-direction: column;

  margin-left: 0.5rem;
  flex: 2;
}

.usta__catalog-container_left {
  margin-right: 0.5rem;
  flex: 1;
}

.usta__catalog-container_left_item1 {
  margin: 0 1rem;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  border: 1px solid grba(220, 220, 255);
  border-radius: 3px;
  transition: 0.7s;
  padding: 1rem;
}

.usta__catalog-container_left_item1:hover,
.usta__catalog-container_left_item2:hover,
.usta__catalog-container_right_row1:hover,
.usta__catalog-container_right_row2_item4:hover,
.usta__catalog-container_right_row2_item5:hover {
  background-color: #fbc900;
  box-shadow: rgba(149, 157, 165, 0.5) 10px 16px 24px;
}

.usta__catalog-container_left_item1 div img {
  max-width: 100%;
  height: auto;
}

.usta__catalog-container_left_item2 div:nth-child(2) {
  margin-left: 1rem;
}

.usta__catalog-container_left_item2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 1rem 1rem;
  padding: 1rem;
  border-radius: 3px;

  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  border: 1px solid grba(220, 220, 255);
  border-radius: 3px;
  transition: 0.7s;
}

.usta__catalog-container_left_item2 div img {
  max-width: 100%;
  height: auto;
  margin-left: 0.25rem;
}

.usta__catalog-container_right {
  display: flex;
  flex-direction: column;
}

.usta__catalog-container_right_row1 {
  margin-bottom: 1rem;
  padding: 1;

  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  border: 1px solid grba(220, 220, 255);
  border-radius: 3px;
  transition: 0.7s;
}

.usta__catalog-container_right_row1_content {
  margin: 0 1rem;
}

.usta__catalog-container_right_row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usta__catalog-container_right_row2_item4 {
  flex: 1;
  padding: 1rem;

  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  border: 1px solid grba(220, 220, 255);
  border-radius: 3px;
  transition: 0.7s;
}

.usta__catalog-container_right_row2_item4 div img,
.usta__catalog-container_right_row2_item5 div img,
.usta__catalog-container_right_row1 div img {
  max-width: 100%;
  height: auto;
}

.usta__catalog-container_right_row2_item5 {
  margin-left: 3rem;
  flex: 1;
  padding: 1rem;

  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  border: 1px solid grba(220, 220, 255);
  border-radius: 3px;
  transition: 0.7s;
}

@media screen and (max-width: 850px) {
  .usta__catalog-container {
    flex-direction: column;
  }
  .usta__catalog-container div {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 700px) {
  .usta__catalog-container_right_row2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .usta__catalog-container {
    margin: 0;
  }
}
