.section__padding {
  padding: 4rem 6rem;
}

.gradient_bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    #ffef5d 0%,
    #e3c427 50%,
    #d9a614 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    #ffef5d 0%,
    #e3c427 50%,
    #d9a614 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, #ffef5d 0%, #e3c427 50%, #d9a614 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9A614', endColorstr='#FFEF5D', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(90deg, #ffef5d 0%, #e3c427 50%, #d9a614 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(90deg, #ffef5d 0%, #e3c427 50%, #d9a614 100%);
}
