.usta__header {
  height: auto;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
  overflow: hidden;
}

.usta__header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 3rem 5vw;
  border: 1px solid black;
}

.usta__header-nav_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.usta__header-nav_left div {
  margin-right: 1rem;
}

.usta__header-nav_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.usta__header-nav_right div input {
  height: 2rem;
  padding-left: 1rem;
}

.usta__header-nav_right div {
  margin: 0 1rem;
}

.usta__header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: 3rem;
  border: 1px solid black;
}

.whitewave2 {
  position: absolute;
  bottom: -2rem;
  left: -35rem;
}

.whitewave {
  position: absolute;
  bottom: -10rem;
  right: -50rem;
}

@media screen and (max-width: 850px) {
  .usta__header-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .whitewave2 {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .usta__header-nav_right {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .usta__header-nav_left {
    flex-direction: column;
  }

  .usta__header-nav_left div {
    margin: 0.5rem 0;
  }

  .usta__header-nav {
    margin: 1rem 5vw;
  }
}
