.usta__header {
  height: 53vh;
  padding: 0 25rem;
  position: relative;
  z-index: -2;
}

.usta__header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.25rem;
}

.usta__header-nav_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex: 4;
}

.usta__header-nav_left_inputone {
  padding-left: 20px;
  height: 25px;
  font-weight: 400;
  font-size: 12px;
  width: 80%;
}

.usta__header-nav_left_inputtwo {
  padding-left: 20px;
  height: 25px;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
}

.usta__header-nav_left_search {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  align-items: center;
}

.usta__header-nav_left_search div {
  padding: 0 1rem;
  margin: 0 0.5rem;
}

.usta__header-nav_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1.1;
}

.usta__header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usta__header-container_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-left: 5rem;
  padding-top: 4rem;
}

.usta__header-container_left div:nth-child(1) {
  font-size: 36px;
  font-weight: 600;
}

.usta__header-container_left div:nth-child(2) {
  font-size: 16px;
}

.usta__header-container div img {
  padding-top: 3rem;
  padding-right: 5rem;
}

.blackwave {
  position: absolute;
  left: -30rem;
  bottom: 0;
  z-index: -1;
}

.whitewave {
  position: absolute;
  right: -20rem;
  bottom: -1rem;
  z-index: -1;
}
