.usta__products {
  height: auto;
  width: 100vw;

  position: relative;
  margin-top: 10rem;
}

.blackwave {
  position: absolute;
  left: -40rem;
  top: -15rem;
  z-index: 1;
}

.bg23 {
  position: absolute;
  left: -35rem;
  bottom: 0rem;
  z-index: -1;
  transform: rotate(180deg);
}

.usta__products-content_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.usta__products-content h1 {
  text-align: center;
}

.usta__products-content_items div {
  width: 20rem;
  margin: 2rem 1rem;
  height: 8rem;
}

.usta__products-content_item1 {
  font-size: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  border: 1px solid grba(220, 220, 255);
  border-radius: 3px;
  transition: 0.7s;
}

.usta__products-content_item1:hover {
  background-color: #fbc900;
  box-shadow: rgba(149, 157, 165, 0.5) 10px 16px 24px;
}

.usta__products-content_item1 p {
  margin-left: 2rem;
}

.big {
  position: absolute;
  top: -5.5rem;
  right: 2rem;
  font-size: 3rem;
  font-weight: 800;
  color: black;
  transition: 0.7s;
}

@media screen and (max-width: 1050px) {
  .usta__products-content_items {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .blackwave,
  .bg23 {
    display: none;
  }
}
